/* CSS Variables for easy theme management */
:root {
    --primary-color: hotpink; /* Hotpink */
    --secondary-color: limegreen; /* LimeGreen */
    --background-gradient: linear-gradient(135deg, hotpink, limegreen); /* Pink-green gradient */
    --background-color: linear-gradient(rgba(46, 46, 46, 0.4), rgba(46, 46, 46, 0.4)) padding-box,
               linear-gradient(135deg, hotpink, limegreen) border-box;
    --card-background: rgba(46, 46, 46, 0.8); /* Darker card background with transparency */
    --text-color: #ffffff; /* White text */
    --button-hover: limegreen; /* Limegreen to maintain consistency */       
    --placeholder-color: #b0b0b0; /* Light gray for placeholder */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:disabled {
    background-color: var(--card-background);
  background-blend-mode: multiply;
    color: var(--placeholder-color); /* Light gray for disabled color */
opacity: 0.5;
    cursor: not-allowed;
}


body {
    background: var(--background-color);
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    color: var(--text-color); /* White text */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure full height */
    padding: 20px;
    margin: 0;
    flex-direction: column;
    animation: fadeIn 1s ease-in-out;
}

body, button, .container, .header, .footer {
	 font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
     line-height: 1;
}

h6 {
     text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* Slight blurred shadow */
}

.bestproject {
	background: linear-gradient(190deg, #CD5E03, #F9FF90);    
   color:  var(--card-background);
	box-shadow: 0 6px 15px rgba(249, 255, 144, 0.4), 0 0 2px rgba(0, 0, 0, 0.5);
}

.bestproject:hover {
	background: linear-gradient(-60deg, #CD5E03, #F9FF90);    
   color:  var(--card-background);
	box-shadow: 0 -2px 15px rgba(249, 255, 144, 0.4), 0 0 2px rgba(0, 0, 0, 0.3);
}

.lm-text-theme {
        background: linear-gradient(135deg, hotpink, limegreen);    
          -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;          
     filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5)); /* Slight blurred shadow */
}
/* Initial state of the icon with a default gradient */
.fa-gradient {
    background-image: linear-gradient(-135deg, hotpink, limegreen); /* Default gradient */
    -webkit-background-clip: text;  /* Clip the background gradient to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent so the background shows through */
    display: inline-block; /* Ensure the icon behaves like an inline block */
    font-size: 1.1em; /* Set icon size */
     filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5)); /* Slight blurred shadow */
        padding: 20px;
    border-radius: 50%;
}

/* When the button is hovered, change the gradient of the icon */
.socialbutton:hover .fa-gradient {
    background-image: linear-gradient(-135deg, var(--text-color), var(--text-color)); /* New gradient on hover */
}

a {
        background: linear-gradient(135deg, #8ab4ff, #2f78f5); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        text-decoration: none;  
     text-shadow: none;
     filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5)); /* Slight blurred shadow */
    }

a:hover {
  background: linear-gradient(-135deg, #8ab4ff, #2f78f5); 
          -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        text-decoration: none;  
     text-shadow: none;
   filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3)); 
}

.container {
    text-align: center;
    background: linear-gradient(rgba(46, 46, 46, 0.8), rgba(46, 46, 46, 0.8)) padding-box,
               linear-gradient(-135deg, hotpink, limegreen) border-box;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 2px solid transparent;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px; 
    padding-top: 20px; 
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 100%;
    max-width: 600px;
    animation: fadeIn 1s ease-in-out;
}

.defunct-websites {
    display: none;
    transition: all 1s ease;
    will-change: height, opacity, transform;
}

.header {
    text-align: center;
    background: linear-gradient(rgba(46, 46, 46, 0.8), rgba(46, 46, 46, 0.8)) padding-box,
               linear-gradient(-135deg, hotpink, limegreen) border-box;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 2px solid transparent;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px; 
    padding-top: 20px; 
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    max-width: 600px;
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: column;
}

.footer {
    text-align: center;
    background: linear-gradient(rgba(46, 46, 46, 0.8), rgba(46, 46, 46, 0.8)) padding-box,
               linear-gradient(-135deg, hotpink, limegreen) border-box;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 2px solid transparent;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px; 
    padding-top: 20px; 
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 100%;
    max-width: 600px;
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: column;
}



h1 {
    text-align: center;
    background: linear-gradient(-135deg, hotpink, limegreen);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 2em;
    animation: slideDown 1s ease-out;
     filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5)); /* Slight blurred shadow */
}

.warning {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-image: linear-gradient(243deg, rgba(208,52,44,1) 35%, rgba(222,113,107,1) 100%);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 30px;
    color: var(--card-background);
    font-size: 1.1em;
    cursor: pointer;
    transition: background-image 0.3s, transform 0.2s;
     text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* Slight blurred shadow */
     box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* Slight blurred shadow */
}

button {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-image: var(--background-gradient);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 30px;
    color: var(--text-color); /* White text */
    font-size: 1.1em;
    cursor: pointer;
    transition: background-image 0.3s, transform 0.2s;
     text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* Slight blurred shadow */
     box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* Slight blurred shadow */
}

button:hover {
    background-image: linear-gradient(215deg, hotpink, limegreen);
    transform: translateY(-2px);
     box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: translateY(0);
}

button:disabled {
    color: var(--placeholder-color);
}

button:disabled:hover {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-image: var(--background-gradient);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 30px;
    font-size: 1.1em;
    cursor: pointer;
    transform: translateY(0px);
     box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.socialcontainer {
    display: flex;
    align-items: center; /* Vertically center buttons */
    justify-content: center;
    text-align: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

.socialbutton {
    font-size: 1.1em; /* Controls the size of the icon */
    margin: 0;
    display: inline-flex;
    background: linear-gradient(rgba(46, 46, 46, 0.8), rgba(46, 46, 46, 0.8)) padding-box,
                linear-gradient(-135deg, hotpink, limegreen) border-box;
    backdrop-filter: blur(10px);
    text-shadow: none;
    border: 2px solid transparent;
    border-radius: 50%; /* Ensures circular shape */
    padding: 0; /* Inner spacing */
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    text-align: center; /* Centers the text horizontally */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.5);
    width: calc(40px + 1.1em); /* Uniform width */
    height: calc(40px + 1.1em); /* Uniform height */
    box-sizing: border-box; /* Ensure border is included in the size */
}

.socialbutton:hover {
    background-image: linear-gradient(-135deg, hotpink, limegreen); /* Gradient stays */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.3);
    border: none;
}

.detail {
     margin-top: 20px;
}

/* Styles for the rest of the elements */
.info-section {
    margin-top: 0px;
    margin-bottom: 20px;
}

.copyright {
    margin-top: 0px;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes slideDown {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes slideUp {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(-20px); opacity: 0; }
}